<li id="{{id}}">
  <div class="view">
    <input class="toggle" type="checkbox" data-task-action='toggle' data-task-id="{{id}}">
    <label data-task-action='edit' data-task-id="{{id}}">{{description}}</label>
    <button class="destroy" data-task-action='destroy' data-task-id="{{id}}"></button>
  </div>
  <input class="edit" value="{{description}}">
</li>
